:root {
    /*! pc font-size */
    --font-size-h1: 25rem; /* 400px */
    --font-size-h2: 16.25rem; /* 260px */
    --font-size-h3: 3.75rem; /* 60px */
    --font-size-h4: 2.25rem; /* 36px */ 
    --font-size-h5: 2rem; /* 32px */ 
    --font-size-marquee: 12.5rem; /* 200px */ 
    --font-size-paragraph-lg: 2rem; /* 32px */ 
    --font-size-paragraph-sm: 1.5rem; /* 24px */
    --font-size-minimum: 0.875rem; /* 14px */

    /*! color */
    --color-black-main: #212121;
    --color-gray-sub: #eee;
    --color-neon-point:#C4FB6D;
  }


/*! body */
body{
  font-family: 'Pretendard-Regular';
  background-color: var(--color-black-main);
  color: var(--color-gray-sub);
}

body.stop-scroll {
  overflow: hidden;
}


/*! header */
header{
  border-bottom: 1px solid var(--color-gray-sub);
  color: var(--color-neon-point);
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .left_box{
  padding: 47px;
  box-sizing: border-box;
  border-right: 1px solid var(--color-gray-sub);
}

header .left_box .current_time{
  margin: 10px 0 0 0;
}

header .right_box ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .right_box ul li a{
  padding: 60px;
  box-sizing: border-box;
  border-left: 1px solid var(--color-gray-sub);
}

@media(max-width:1240px){
  header .left_box{
    padding: 20px 20px;
    font-size: var(--font-size-minimum);
  }

  header .right_box ul li a{
    border: none;
    padding: 30px 20px;
  }
}

@media(max-width:768px){
  header .left_box{
    padding: 16px 20px;
    font-size: var(--font-size-minimum);
  }

  header .right_box ul li a{
    padding: 26px 20px;
    box-sizing: border-box;
    font-size: var(--font-size-minimum);
  }
}


/*! footer */
footer .marquee_container{
  border-bottom: 1px solid var(--color-gray-sub);
}

footer .marquee{
  overflow: hidden;
}

footer .marquee p{
  padding: 30px 0;
  font-size: var(--font-size-marquee);
  white-space: nowrap;
  animation: marquee01 20s linear infinite;
  color: var(--color-neon-point);
}

footer .tit_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-bottom: 1px solid var(--color-gray-sub);
}

footer .tit_container h2{
  flex: 0.8;
  font-size: var(--font-size-h2);
  font-family: 'Pretendard-Black';
  text-align: center;
  border-right: 1px solid var(--color-gray-sub);
}

footer .tit_container > div{
  flex: 0.2;
}

footer .tit_container > div > div{
  position: relative;
  height: 130px;
}

footer .tit_container > div > div:first-child{
  border-bottom: 1px solid var(--color-gray-sub);
}

footer .tit_container p,
footer .tit_container .current_time{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: var(--font-size-h5);
  text-align: center;
}

footer .element_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-gray-sub);
}

footer .element_container div{
  padding: 60px 0;
  font-size: 4.5rem;
  font-family: 'Pretendard-SemiBold';
  text-align: center;
}

footer .element_container div:first-child{
  flex: 0.8;
  border-right: 1px solid var(--color-gray-sub);
}

footer .element_container div:first-child > span{
  margin: 0 15px 0 0;
}

footer .element_container div:last-child{
  flex: 0.2;
}

footer .element_container div:last-child > span{
  margin: 0 5px 0 0;
}

footer .mail_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-gray-sub);
}

footer .mail_container > div{
  flex: 0.1;
  padding: 60px 0;
  font-size: 4.5rem;
  font-family: 'Pretendard-SemiBold';
  text-align: center;
}

footer .mail_container > p{
  flex: 0.8;
  padding: 60px 0;
  font-size: 4.375rem;
  font-family: 'Pretendard-SemiBold';
  text-align: center;
  color: var(--color-neon-point);
  border-left: 1px solid var(--color-gray-sub);
  border-right: 1px solid var(--color-gray-sub);
}

footer .btn_container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
}

footer .btn_container p{
  padding: 60px 0;
  font-size: var(--font-size-paragraph-sm);
  flex: 0.5;
  border-right: 1px solid var(--color-gray-sub);
}

footer .btn_container a{
  font-size: var(--font-size-paragraph-lg);
  text-align: right;
  flex: 0.5;
}


@media(max-width:1240px){
  footer .marquee p{
    font-size: 6.25rem;
  }

  footer .tit_container{
    flex-direction: column-reverse;
  }

  footer .tit_container h2{
    width: 100%;
    padding: 30px 0;
    font-size: 8.375rem;
    border-right:none;
    border-top: 1px solid var(--color-gray-sub);
  }

  footer .tit_container > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  footer .tit_container > div > div{
    flex: 1;
    height: 100px;
  }

  footer .tit_container > div > div:first-child{
    border-bottom: none;
    border-right: 1px solid var(--color-gray-sub);
  }

  footer .element_container div{
    padding: 30px 0;
  }

  footer .element_container div:first-child{
    flex: 0.7;
  }

  footer .element_container div:last-child{
    flex: 0.3;
  }

  footer .mail_container > div{
    display: none;
  }

  footer .mail_container > p{
    flex: 1;
    padding: 30px 0;
    font-size: 3.375rem;
  }

  footer .btn_container{
    padding: 0 20px;
  }

  footer .btn_container p{
    padding: 30px 0;
  }
}

@media(max-width:768px){
  footer .marquee p{
    font-size: 3.125rem;
  }

  footer .tit_container p, 
  footer .tit_container .current_time{
    font-size: 1rem;
  }

  footer .tit_container > div > div{
    height: 60px;
  }

  footer .tit_container h2{
    font-size: var(--font-size-h3);
  }

  footer .element_container div{
    padding: 14px 0;
    font-size: var(--font-size-h4);
  }

  footer .element_container div:last-child > span{
    margin: 0;
    line-height: 0.8;
  }

  footer .mail_container > p{
    padding: 20px 0;
    font-size: var(--font-size-paragraph-sm);
  }

  footer .btn_container{
    flex-direction: column;
    padding: 0;
  }

  footer .btn_container p{
    padding: 30px 20px;
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid var(--color-gray-sub);
    border-right: none;
  }

  footer .btn_container a{
    width: 100%;
    font-size: 1.375rem;
    padding: 30px 20px;
    box-sizing: border-box;
    text-align: center;
  }
}


.bg{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-black-main);
  z-index: 99;
}

.bg.active{
  display: block;
}