:root {
    /*! font-size */
    --font-size-h1: 25rem; /* 400px */
    --font-size-h2: 16.25rem; /* 260px */
    --font-size-h3: 3.75rem; /* 60px */
    --font-size-h4: 2.25rem; /* 36px */ 
    --font-size-h5: 2rem; /* 32px */ 
    --font-size-marquee: 12.5rem; /* 200px */ 
    --font-size-paragraph-lg: 2rem; /* 32px */ 
    --font-size-paragraph-sm: 1.5rem; /* 24px */
    --font-size-minimum: 0.875rem; /* 14px */

    /*! color */
    --color-black-main: #212121;
    --color-gray-sub: #eee;
    --color-neon-point:#C4FB6D;
  }


/*! body */
body{
  font-family: 'Pretendard-Regular';
  background-color: var(--color-black-main);
  color: var(--color-gray-sub);
}

body.stop-scroll {
  overflow: hidden;
}



/*! header */
header{
  border-bottom: 1px solid var(--color-gray-sub);
  color: var(--color-neon-point);
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .left_box{
  padding: 47px;
  box-sizing: border-box;
  border-right: 1px solid var(--color-gray-sub);
}

header .left_box .current_time{
  margin: 10px 0 0 0;
}

header .right_box ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .right_box ul li a{
  padding: 60px;
  box-sizing: border-box;
  border-left: 1px solid var(--color-gray-sub);
}
