:root {
    /*! font-size */
    --font-size-h1: 25rem; /* 400px */
    --font-size-h2: 16.25rem; /* 260px */
    --font-size-h3: 3.75rem; /* 60px */
    --font-size-h4: 2.25rem; /* 36px */ 
    --font-size-h5: 2rem; /* 32px */ 
    --font-size-marquee: 12.5rem; /* 200px */ 
    --font-size-paragraph-lg: 2rem; /* 32px */ 
    --font-size-paragraph-sm: 1.5rem; /* 24px */
    --font-size-minimum: 0.875rem; /* 14px */

    /*! color */
    --color-black-main: #212121;
    --color-gray-sub: #eee;
    --color-neon-point:#C4FB6D;
  }


/*! body */
body{
  font-family: 'Pretendard-Regular';
  background-color: var(--color-black-main);
  color: var(--color-gray-sub);
}

body.stop-scroll {
  overflow: hidden;
}



/*! header */
header{
  border-bottom: 1px solid var(--color-gray-sub);
  color: var(--color-neon-point);
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .left_box{
  padding: 47px;
  box-sizing: border-box;
  border-right: 1px solid var(--color-gray-sub);
}

header .left_box .current_time{
  margin: 10px 0 0 0;
}

header .right_box ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .right_box ul li a{
  padding: 60px;
  box-sizing: border-box;
  border-left: 1px solid var(--color-gray-sub);
}


/*! footer */
footer .marquee_container{
  border-bottom: 1px solid var(--color-gray-sub);
}

footer .marquee{
  overflow: hidden;
}

footer .marquee p{
  padding: 30px 0;
  font-size: var(--font-size-marquee);
  white-space: nowrap;
  animation: marquee01 20s linear infinite;
  color: var(--color-neon-point);
}

footer .tit_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-gray-sub);
}

footer .tit_container h2{
  flex: 0.8;
  font-size: var(--font-size-h2);
  font-family: 'Pretendard-Black';
  text-align: center;
  border-right: 1px solid var(--color-gray-sub);
}

footer .tit_container > div{
  flex: 0.2;
}

footer .tit_container p,
footer .tit_container .current_time{
  font-size: var(--font-size-h5);
  text-align: center;
}

footer .tit_container p{
  border-bottom: 1px solid var(--color-gray-sub);
}

footer .element_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-gray-sub);
}

footer .element_container div{
  padding: 60px 0;
  font-size: 4.5rem;
  font-family: 'Pretendard-SemiBold';
  text-align: center;
}

footer .element_container div:first-child{
  flex: 0.8;
  border-right: 1px solid var(--color-gray-sub);
}

footer .element_container div:first-child > span{
  margin: 0 15px 0 0;
}

footer .element_container div:last-child{
  flex: 0.2;
}

footer .element_container div:last-child > span{
  margin: 0 5px 0 0;
}

footer .mail_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-gray-sub);
}

footer .mail_container > div{
  flex: 0.1;
  padding: 60px 0;
  font-size: 4.5rem;
  font-family: 'Pretendard-SemiBold';
  text-align: center;
}

footer .mail_container > p{
  flex: 0.8;
  padding: 60px 0;
  font-size: 4.375rem;
  font-family: 'Pretendard-SemiBold';
  text-align: center;
  color: var(--color-neon-point);
  border-left: 1px solid var(--color-gray-sub);
  border-right: 1px solid var(--color-gray-sub);
}

footer .btn_container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
}

footer .btn_container p{
  padding: 60px 0;
  font-size: var(--font-size-paragraph-sm);
  flex: 0.5;
  border-right: 1px solid var(--color-gray-sub);
}

footer .btn_container a{
  font-size: var(--font-size-paragraph-lg);
  text-align: right;
  flex: 0.5;
}
