/*! main visual */
.main_visual{
    margin: 0 0 300px 0;
}

.main_visual .main_visual_txt{
    max-width: 1848px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 115px 40px 32px 40px;
    box-sizing: border-box;

    animation-name: backgroundChange;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode:forwards;
}

.main_visual .txt_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    flex-wrap: nowrap;
    transform: scale(0.6);

    animation-name: txtSizeChange;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode:forwards;
}

.main_visual .txt_container .box {
    display: flex;
    align-items: center;
    gap: 16px;
}

.main_visual .txt_container .box img{
    width: 100%;
    opacity: 0;
    animation-name: colorChange02;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

.main_visual .txt_container .be_box{
    flex: 1;
}

.main_visual .txt_container .ready_box{
    flex: 3;
}

.main_visual .txt_container .rectangle_box{
    max-width: 190px;
    width: 100%;
}

.main_visual .txt_container .rectangle_box > div{
    height: 64px;
    background-color: var(--color-black-main);
}

.main_visual .txt_container .rectangle_box > .rectangle01{
    animation-name: colorChange;
    animation-duration: 0.1s;
    animation-delay:1.7s;
    animation-fill-mode:forwards;
}

.main_visual .txt_container .rectangle_box > .rectangle02{
    animation-name: colorChange;
    animation-duration: 0.1s;
    animation-delay:1s;
    animation-fill-mode:forwards;
}

.main_visual .txt_container .rectangle_box > .rectangle03{
    animation-name: colorChange;
    animation-duration: 0.1s;
    animation-delay:0.3s;
    animation-fill-mode:forwards;
}

.main_visual .txt_container .rectangle_box > div:not(:last-child){
    margin: 0 0 54px 0;
}


@keyframes colorChange {
    0% {
        background-color: var(--color-black-main);
    }
    100% {
        background-color: var(--color-neon-point);
    }
}

@keyframes colorChange02 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes backgroundChange {
    0% {
        height: 100vh;
    }
    100%{
        height: 50vh;
    }
}

@keyframes txtSizeChange {
    0% {
        transform: scale(0.6);
    }
    100%{
        transform: scale(1);
    }
}


.main_visual .scroll_container {
    margin: 0 0 72px 0;
    padding: 0 40px;
    box-sizing: border-box;
}

.main_visual .scroll_container .txt_box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    text-align: right;
    overflow: hidden;
    color: var(--color-neon-point);
}

.main_visual .scroll_container .txt_box > div {
    height: 10px;
}

.main_visual .scroll_container .txt_box > div > span {
    display: block;
    animation: verticalRolling 1.5s linear infinite;
}

@keyframes verticalRolling {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}


.main_visual .marquee_container{
    position: relative;
}

.main_visual .marquee{
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid var(--color-gray-sub);
}

.main_visual .marquee:first-child{
    border-top: 1px solid var(--color-gray-sub);
}

.main_visual .marquee::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 94px;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to right, rgba(33,33,33,1) 0%, rgba(33,33,33,0.75) 51%, rgba(33,33,33,0) 100%);
}

.main_visual .marquee::after{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 94px;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to right, rgba(33,33,33,0) 0%, rgba(33,33,33,0.75) 51%, rgba(33,33,33,1) 100%);
}

.main_visual .marquee p{
    padding: 40px 0;
    white-space: nowrap;
    animation: marquee01 20s linear infinite;
}

.main_visual .marquee02 p{
    animation: marquee02 20s linear infinite;
}

.main_visual .marquee p strong{
    font-size: var(--font-size-h3);
    margin: 0 100px 0 0;
    opacity: 0.3;
}

.main_visual .marquee p strong:nth-child(even){
    opacity: 0.8;
    color: var(--color-neon-point);
}

@keyframes marquee01 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes marquee02 {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

@media(max-width:1240px){
    .main_visual{
        margin: 0 0 200px 0;
    }

    .main_visual .main_visual_txt{
        padding: 80px 40px 32px 40px;
    }

    .main_visual .txt_container{
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .main_visual .txt_container .be_box{
        flex: none;
    }

    .main_visual .txt_container .ready_box{
        flex: none;
    }

    .main_visual .txt_container .img_box{
        min-width: 50px;
    }

    .main_visual .txt_container .img_box img{
        max-height: 150px;
    }

    .main_visual .txt_container .rectangle_box{
        max-width: 130px;
        width: 100%;
    }

    .main_visual .txt_container .rectangle_box > div{
        min-width: 130px;
        max-height: 30px;
    }

    .main_visual .txt_container .rectangle_box > div:not(:last-child){
        margin: 0 0 30px 0;
    }

    .main_visual .scroll_container{
        padding: 0 20px;
    }

    .main_visual .marquee p strong{
        font-size: 3rem;
    }
}

@media(max-width:768px){
    .main_visual .main_visual_txt{
        padding: 34px 20px 0 20px;

        animation-name: m-backgroundChange;
        animation-duration: 1s;
        animation-delay: 2.5s;
        animation-fill-mode:forwards;
    }

    @keyframes m-backgroundChange {
        0% {
            height: 100vh;
        }
        100%{
            height: 30vh;
        }
    }

    .main_visual .txt_container{
        gap: 20px;
    }

    .main_visual .txt_container .box{
        gap: 5px;
    }

    .main_visual .txt_container .img_box img{
        max-height:76px;
    } 

    .main_visual .txt_container .rectangle_box{
        max-width: 52px;
    }

    .main_visual .txt_container .rectangle_box > div{
        min-width:52px;
        max-height:16px;
    }

    .main_visual .txt_container .rectangle_box > div:not(:last-child){
        margin: 0 0 14px 0;
    }

    .main_visual .scroll_container{
        margin: 0 0 29px 0;
    }

    .main_visual .marquee p{
        padding: 30px 0;
    }

    .main_visual .marquee p strong{
        margin: 0 30px 0 0;
        font-size: var(--font-size-h5);
    }

    .main_visual .marquee::before{
        width: 48px;
    }

    .main_visual .marquee::after{
        width: 48px;
    }
}



/*! main project */
.main_project_sec .sec_tit_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    border-top: 1px solid var(--color-gray-sub);
    border-bottom: 1px solid var(--color-gray-sub);
}

.main_project_sec .sec_tit_container .line{
    flex: 0.5;
    border-right: 1px solid var(--color-gray-sub);
    
}

.main_project_sec .sec_tit_container .index{
    position: relative;
    padding: 380px 0;
}

.main_project_sec .sec_tit_container .index h5{
    position: absolute;
    top: 20%;
    right: 10%;
    font-size: var(--font-size-h5);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: var(--color-neon-point);
}

.main_project_sec .sec_tit_container > .sec_tit{
    flex: 4;
    padding: 0 0 0 30px;
    box-sizing: border-box;
}

.main_project_sec .sec_tit_container > .sec_tit h2{
    font-size: var(--font-size-h2);
    line-height: 0.8;
    font-family: 'Pretendard-Black';
}

.main_project_sec .sec_tit .txt_box01 > h2{
    color: var(--color-neon-point);
}

.main_project_sec .sec_tit .txt_box02{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main_project_sec .sec_tit .txt_box02 > p {
    font-size: var(--font-size-paragraph-sm);
    line-height: 1.2;
}

.main_project_sec .main_contents{
    margin: 200px 0;
}

.main_project_sec .givenchy_content{
    display: flex;
    justify-content: space-between;
    gap: 75px;
    margin: 200px 0;
    padding: 0 40px;
    box-sizing: border-box;
    height: 100%;
}

.main_project_sec .fix_container{
    position: sticky;
    top: 30px;
    left: 0;
    align-self: self-start;
    flex: 0.4;
}

.main_project_sec .fix_container img{
    width: 100%;
}

.main_project_sec .project_tags{
    margin: 85px 0 0 0;
    color: var(--color-neon-point);
}

.main_project_sec .project_tags span{
    margin: 0 10px 0 0;
}

.main_project_sec p{
    margin: 15px 0 0 0;
    line-height: 1.2;
}

.main_project_sec .fix_container .btn_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    margin: 60px 0 0 0;
}

.main_project_sec .fix_container button{
    padding: 37px 48px;
    font-size: 1.75rem;
    white-space: nowrap;
    font-family: 'Pretendard-Regular';
    border: 1px solid var(--color-black-main);
    border-radius: 10px;
    background-color: var(--color-gray-sub);
    color: var(--color-black-main);
    box-shadow: 5px 5px 0 var(--color-neon-point), 6px 6px 0 var(--color-black-main);
    cursor: pointer;
}

.main_project_sec .fix_container button:active{
    position: relative;
    top:5px;
    left: 5px;
    box-shadow: 1px 1px 0 var(--color-neon-point), 2px 2px 0 var(--color-black-main);
}

.main_project_sec .imgs_container{
    flex: 0.6;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.main_project_sec .imgs_container .left_box{
    flex: 1;
}

.main_project_sec .imgs_container .right_box{
    flex: 1;
}

.main_project_sec .imgs_container img{
    width: 100%;
    border-radius: 10px;
    margin: 0 0 30px 0;
}

.main_project_sec .volvo_content{
    display: flex;
    justify-content: space-between;
    gap: 75px;
    margin: 200px 0;
    padding: 0 40px;
    box-sizing: border-box;
    height: 100%;
}

@media(max-width:1240px){
    .main_project_sec .givenchy_content,
    .main_project_sec .volvo_content{
        gap: 30px;
        padding: 0 20px;
    }

    .main_project_sec .sec_tit .txt_box02{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .main_project_sec .sec_tit_container .index{
        padding: 330px 0
    }

    .main_project_sec .sec_tit_container .index h5{
        font-size: 1.625rem;
    }

    .main_project_sec .sec_tit_container > .sec_tit h2{
        font-size: 8.375rem;
    }

    .main_project_sec .project_tags{
        margin: 60px 0 0 0;
    }

    .main_project_sec .fix_container button{
        padding: 30px 24px;
        font-size: 1.2rem;
    }
}

@media(max-width:768px){
    .main_project_sec .sec_tit_container .index{
        padding: 150px 0;
    }

    .main_project_sec .sec_tit_container .index h5{
        padding: 0 5px;
        font-size: var(--font-size-minimum);
    }

    .main_project_sec .sec_tit_container > .sec_tit{
        padding: 0 0 0 10px;
    }

    .main_project_sec .sec_tit_container > .sec_tit h2{
        font-size: var(--font-size-h3);
        line-height: 1;
    }

    .main_project_sec .sec_tit .txt_box02 > p{
        font-size: 1rem;
    }

    .main_project_sec .givenchy_content{
        flex-direction: column;
    }

    .main_project_sec .volvo_content{
        flex-direction: column-reverse;
    }

    .main_project_sec .fix_container{
        position: unset;
    }

    .main_project_sec .project_tags{
        margin: 30px 0 0 0;
    }

    .main_project_sec .project_tags span{
        font-size: var(--font-size-minimum);
    }

    .main_project_sec .fix_container .btn_box{
        gap: 10px;
        margin: 10px 0 0 0;
    }

    .main_project_sec .fix_container button{
        padding: 18px;
        font-size: 1rem;
    }

    .main_project_sec .imgs_container{
        gap: 10px;
    }

    .main_project_sec .imgs_container img{
        margin: 0 0 10px 0;
    }

}


/* ! sub project */
.sub_project_sec{
    background-color: var(--color-gray-sub);
}

.sub_project_sec .marquee_container{
    border-top: 1px solid var(--color-black-main);
}

.sub_project_sec .marquee{
    overflow: hidden;
}

.sub_project_sec .marquee p{
    padding: 30px 0;
    font-size: var(--font-size-marquee);
    white-space: nowrap;
    animation: marquee01 20s linear infinite;
    color: #A4A4A4;
}

.sub_project_sec .sec_tit_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 0;
    box-sizing: border-box;
    border-top: 1px solid var(--color-black-main);
    border-bottom: 1px solid var(--color-black-main);
}

.sub_project_sec .sec_tit_container .line{
    flex: 0.5;
    border-right: 1px solid var(--color-black-main);
    
}

.sub_project_sec .sec_tit_container .index{
    position: relative;
    padding: 380px 0 380px 40px;
    background-color: var(--color-neon-point);
}

.sub_project_sec .sec_tit_container .index h5{
    position: absolute;
    top: 20%;
    right: 10%;
    font-size: var(--font-size-h5);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: var(--color-black-main);
}

.sub_project_sec .sec_tit_container > .sec_tit{
    flex: 4;
    padding: 0 0 0 30px;
    box-sizing: border-box;
}

.sub_project_sec .sec_tit_container > .sec_tit h2{
    font-size: var(--font-size-h2);
    line-height: 0.8;
    font-family: 'Pretendard-Black';
    color: var(--color-black-main);
}

.sub_project_sec .sec_tit .txt_box02{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sub_project_sec .sec_tit .txt_box02 > p{
    font-size: var(--font-size-paragraph-sm);
    line-height: 1.2;
    color: var(--color-black-main);
}

.sub_project_sec .sub_contents{
    padding: 0 0 200px 0;
}

.sub_project_sec .sub_contents > div:hover{
    background-color: var(--color-neon-point);
    transition: 0.3s;
    cursor: pointer;
}

.sub_project_sec .sub_contents > div > .content_tit{
    flex: 0.9;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding:40px 40px 40px 0;
    border-bottom: 1px solid var(--color-black-main);
}

.sub_project_sec .sub_contents > div span{
    flex: 0.1;
    color: #A4A4A4;
    text-align: center;
}

.sub_project_sec .sub_contents > div:hover span{
    color: var(--color-black-main);
}

.sub_project_sec .sub_contents > div > .content_tit > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0.9;
}

.sub_project_sec .sub_contents .content_tit h4{
    font-size: var(--font-size-h4);
    font-family: 'Pretendard-Medium';
    color: var(--color-black-main);
}

.sub_project_sec .sub_contents .content_tit .logo_img_box{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.sub_project_sec .sub_contents > div:hover .logo_img_box{
    opacity: 1;
    visibility: visible;
}

.sub_project_sec .sub_contents .content_tit .logo_img_box img{
    width: 100%;
    border-radius: 10px;
}

.sub_project_sec .sub_contents .content_tit .arrow_img_box{
    display: none;
}

.sub_project_sec .sub_contents > div p{
    font-size: var(--font-size-paragraph-sm);
    color: var(--color-black-main);
}

.sub_project_sec .sub_contents .slide_down{
    display: none;
}

@media(max-width:1240px){
    .sub_project_sec .marquee p{
        font-size: 6.25rem;
    }

    .sub_project_sec .sec_tit .txt_box02{
        flex-wrap: wrap;
        gap: 10px;
    }

    .sub_project_sec .sec_tit_container .index{
        padding: 330px 0
    }

    .sub_project_sec .sec_tit_container .index h5{
        font-size: 1.625rem;
    }

    .sub_project_sec .sec_tit_container > .sec_tit h2{
        font-size: 8.375rem;
    }

    .sub_project_sec .sub_contents .content_tit .logo_img_box{
        display: none;
    }

    .sub_project_sec .sub_contents .content_tit p{
        display: none;
    }

    .sub_project_sec .sub_contents .content_tit .arrow_img_box{
        display: block;
        transform: rotate(180deg);
    }

    .sub_project_sec .sub_contents .content_tit .arrow_img_box.flip_vertical{
        transform: rotate(0);
        transition: 0.5s;
    }

    .sub_project_sec .sub_contents .slide_down{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--color-black-main);
    }

    .sub_project_sec .sub_contents .slide_down p{
        padding: 20px;
        line-height: 1.5;
        color: var(--color-gray-sub);
        background-color: var(--color-black-main);
    }

    .sub_project_sec .sub_contents .slide_down button{
        padding: 20px;
        font-size: 1.25rem;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        color: var(--color-black-main);
        background-color: var(--color-neon-point);
    }
}

@media(max-width:768px){
    .sub_project_sec .marquee p{
        font-size: 3.125rem;
    }

    .sub_project_sec .sec_tit_container .index{
        padding: 150px 0;
    }

    .sub_project_sec .sec_tit_container .index h5{
        padding: 0 5px;
        font-size: var(--font-size-minimum);
    }

    .sub_project_sec .sec_tit_container > .sec_tit{
        padding: 0 0 0 10px;
    }

    .sub_project_sec .sec_tit_container > .sec_tit h2{
        font-size: var(--font-size-h3);
        line-height: 1;
    }

    .sub_project_sec .sec_tit .txt_box02 > p{
        font-size: 1rem;
    }

    .sub_project_sec .sub_contents > div span{
        font-size: var(--font-size-minimum);
    }

    .sub_project_sec .sub_contents .content_tit h4{
        font-size: var(--font-size-paragraph-sm);
    }

    .sub_project_sec .sub_contents > div > .content_tit{
        padding: 25px 20px;
    }

    .sub_project_sec .sub_contents .slide_down p{
        font-size: 1rem;
    }

    .sub_project_sec .sub_contents .slide_down button{
        font-size: 1rem;
    }
}


/* ! sticky nav */
.sticky_nav{
    position: fixed;
    top: 50%;
    right: -100%;
    transform: translateY(-50%);
    transition: 0.5s;
    z-index: 99;
}

.sticky_nav.show{
    right: 1%;
}

.sticky_nav li{
    margin: 18px;
}

.sticky_nav li a{
    font-size: 1.125rem;
    font-family: 'Pretendard-Medium';
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.sticky_nav li.active a{
    color: var(--color-neon-point);
}

.sticky_nav li.reversal a{
    color: #A4A4A4;
}

@media(max-width:1240px){
    .sticky_nav{
        display: none;
    }
}